In [13]:
# config
import pandas as pd
import datetime as dt
from pyspark.sql import SparkSession,Row
from pyspark.sql.functions import *
from pyspark.sql import functions as F
from pyspark.sql.types import *
import os 
import os.path as path
import datetime as dt
import sys

spark=SparkSession.builder.master("local[1]")\
        .appName("movie")\
        .config("spark.driver.extraClassPath","/Users/eduardoalberto/opt/spark/jars/mssql-jdbc-7.4.1.jre8.jar" ) \
        .getOrCreate()

sc = spark.sparkContext

In [16]:
t2 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBDWP511", "DimCustomer",properties={"user": "sa", "password": "Numsey@Password!"})
t3 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBDWP511", "FactSurveyResponse",properties={"user": "sa", "password": "Numsey@Password!"})
vw = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBDWP511", "VW_ANALISIE",properties={"user": "sa", "password": "Numsey@Password!"})

In [11]:
t3.columns

['SurveyResponseKey',
 'DateKey',
 'CustomerKey',
 'ProductCategoryKey',
 'EnglishProductCategoryName',
 'ProductSubcategoryKey',
 'EnglishProductSubcategoryName',
 'Date']

In [22]:
t2.createOrReplaceTempView("Dm_Customer")
t3.createOrReplaceTempView("Ft_SurveyResponse")
vw.createOrReplaceTempView("vw_analise")

22/11/19 19:26:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [27]:
t = (100 * "#")
print(t)  
vw.printSchema()  
spark.sql("select SalesAmount, Gender, CommuteDistance,OrderDate from vw_analise").show()

####################################################################################################
root
 |-- CustomerKey: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- EnglishEducation: string (nullable = true)
 |-- CommuteDistance: string (nullable = true)
 |-- RANK: long (nullable = true)
 |-- YearlyIncome: decimal(19,4) (nullable = true)
 |-- Gender: string (nullable = true)
 |-- BirthDate: date (nullable = true)
 |-- UnitPrice: decimal(19,4) (nullable = true)
 |-- ProductStandardCost: decimal(19,4) (nullable = true)
 |-- TotalProductCost: decimal(19,4) (nullable = true)
 |-- SalesAmount: decimal(19,4) (nullable = true)
 |-- TaxAmt: decimal(19,4) (nullable = true)
 |-- Freight: decimal(19,4) (nullable = true)
 |-- OrderDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ShipDate: timestamp (nullable = true)

+-----------+------+---------------+-------------------+
|SalesAmount|Gender|CommuteDistance|          OrderDate|
+-----------+------+---------------+-------------------+
|  3578.2700|     M|      10+ Miles|2010-12-29 00:00:00|
|  3399.9900|     F|      0-1 Miles|2010-12-29 00:00:00|
|  3399.9900|     F|      10+ Miles|2010-12-29 00:00:00|
|   699.0982|     M|      1-2 Miles|2010-12-29 00:00:00|
|  3399.9900|     F|     5-10 Miles|2010-12-29 00:00:00|
|  3578.2700|     M|     5-10 Miles|2010-12-30 00:00:00|
|  3374.9900|     M|     5-10 Miles|2010-12-30 00:00:00|
|  3399.9900|     M|      10+ Miles|2010-12-30 00:00:00|
|  3578.2700|     M|      1-2 Miles|2010-12-31 00:00:00|
|  3578.2700|     F|      2-5 Miles|2010-12-31 00:00:00|
|  3578.2700|     F|      1-2 Miles|2010-12-31 00:00:00|
|  3578.2700|     F|      2-5 Miles|2010-12-31 00:00:00|
|  3578.2700|     F|      0-1 Miles|2011-01-01 00:00:00|
|  3578.2700|     F|      0-1 Miles|2011-01-02 00:00:00|
|  3578.2700|     M|     5-10 Miles|2011-01-02 00:00:00|
|  3578.2700|     M|      0-1 Miles|2011-01-02 00:00:00|
|  3578.2700|     M|     5-10 Miles|2011-01-03 00:00:00|
|  3578.2700|     M|     5-10 Miles|2011-01-03 00:00:00|
|  3578.2700|     F|     5-10 Miles|2011-01-03 00:00:00|
|  3578.2700|     M|      10+ Miles|2011-01-03 00:00:00|
+-----------+------+---------------+-------------------+
only showing top 20 rows