In [1]:

from pyspark.sql import SparkSession,Row
from pyspark.sql.functions import *


spark=SparkSession.builder.master("local[1]")\
        .appName("Music")\
        .config("spark.driver.extraClassPath","/Users/eduardoalberto/opt/spark/jars/mssql-jdbc-7.4.1.jre8.jar" ) \
        .getOrCreate()
sc = spark.sparkContext
spark.sparkContext.setLogLevel("OFF") 
print('PySpark Version :'+spark.sparkContext.version)
spark

24/05/06 23:19:02 WARN Utils: Your hostname, Eduardos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.3.5 instead (on interface en0)
24/05/06 23:19:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/06 23:19:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

PySpark Version :3.5.0

In [3]:
df = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=AdventureWorksDW2022", "dbo.DimDate" ,properties={"user": "sa", "password": "Andrade7839"})
df.show()

+--------+--------------------+---------------+--------------------+--------------------+-------------------+----------------+---------------+----------------+----------------+----------------+---------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
| DateKey|FullDateAlternateKey|DayNumberOfWeek|EnglishDayNameOfWeek|SpanishDayNameOfWeek|FrenchDayNameOfWeek|DayNumberOfMonth|DayNumberOfYear|WeekNumberOfYear|EnglishMonthName|SpanishMonthName|FrenchMonthName|MonthNumberOfYear|CalendarQuarter|CalendarYear|CalendarSemester|FiscalQuarter|FiscalYear|FiscalSemester|
+--------+--------------------+---------------+--------------------+--------------------+-------------------+----------------+---------------+----------------+----------------+----------------+---------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
|20050101|          2005-01-01|              7|            Saturday|              Sábado|             Samedi|               1|              1|               1|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050102|          2005-01-02|              1|              Sunday|             Domingo|           Dimanche|               2|              2|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050103|          2005-01-03|              2|              Monday|               Lunes|              Lundi|               3|              3|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050104|          2005-01-04|              3|             Tuesday|              Martes|              Mardi|               4|              4|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050105|          2005-01-05|              4|           Wednesday|           Miércoles|           Mercredi|               5|              5|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050106|          2005-01-06|              5|            Thursday|              Jueves|              Jeudi|               6|              6|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050107|          2005-01-07|              6|              Friday|             Viernes|           Vendredi|               7|              7|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050108|          2005-01-08|              7|            Saturday|              Sábado|             Samedi|               8|              8|               2|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050109|          2005-01-09|              1|              Sunday|             Domingo|           Dimanche|               9|              9|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050110|          2005-01-10|              2|              Monday|               Lunes|              Lundi|              10|             10|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050111|          2005-01-11|              3|             Tuesday|              Martes|              Mardi|              11|             11|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050112|          2005-01-12|              4|           Wednesday|           Miércoles|           Mercredi|              12|             12|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050113|          2005-01-13|              5|            Thursday|              Jueves|              Jeudi|              13|             13|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050114|          2005-01-14|              6|              Friday|             Viernes|           Vendredi|              14|             14|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050115|          2005-01-15|              7|            Saturday|              Sábado|             Samedi|              15|             15|               3|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050116|          2005-01-16|              1|              Sunday|             Domingo|           Dimanche|              16|             16|               4|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050117|          2005-01-17|              2|              Monday|               Lunes|              Lundi|              17|             17|               4|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050118|          2005-01-18|              3|             Tuesday|              Martes|              Mardi|              18|             18|               4|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050119|          2005-01-19|              4|           Wednesday|           Miércoles|           Mercredi|              19|             19|               4|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
|20050120|          2005-01-20|              5|            Thursday|              Jueves|              Jeudi|              20|             20|               4|         January|           Enero|        Janvier|                1|              1|        2005|               1|            3|      2005|             2|
+--------+--------------------+---------------+--------------------+--------------------+-------------------+----------------+---------------+----------------+----------------+----------------+---------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+
only showing top 20 rows

In [5]:
df = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=AdventureWorks2022", "Person.Address" ,properties={"user": "sa", "password": "Andrade7839"})
df.show()

+---------+--------------------+------------+-------+---------------+----------+--------------------+--------------------+-------------------+
|AddressID|        AddressLine1|AddressLine2|   City|StateProvinceID|PostalCode|     SpatialLocation|             rowguid|       ModifiedDate|
+---------+--------------------+------------+-------+---------------+----------+--------------------+--------------------+-------------------+
|        1|       1970 Napa Ct.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|9AADCB0D-36CF-483...|2007-12-04 00:00:00|
|        2|  9833 Mt. Dias Blv.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|32A54B9E-E034-4BF...|2008-11-30 00:00:00|
|        3|7484 Roundtree Drive|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|4C506923-6D1B-452...|2013-03-07 00:00:00|
|        4|    9539 Glenside Dr|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|E5946C78-4BCC-477...|2009-02-03 00:00:00|
|        5|       1226 Shoe St.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|FBAFF937-4A97-4AF...|2008-12-19 00:00:00|
|        6|1399 Firestone Drive|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|FEBF8191-9804-44C...|2009-02-13 00:00:00|
|        7|       5672 Hale Dr.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|0175A174-6C34-4D4...|2009-12-11 00:00:00|
|        8|  6387 Scenic Avenue|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|3715E813-4DCA-49E...|2008-12-17 00:00:00|
|        9|   8713 Yosemite Ct.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|268AF621-76D7-4C7...|2012-05-30 00:00:00|
|       10|      250 Race Court|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|0B6B739D-8EB6-437...|2008-12-02 00:00:00|
|       11| 1318 Lasalle Street|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|981B3303-ACA2-49C...|2013-02-28 00:00:00|
|       12|5415 San Gabriel Dr.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|1C2C9CFE-AB9F-4F9...|2013-01-05 00:00:00|
|       13|         9265 La Paz|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|E0BA2F52-C907-455...|2013-12-14 00:00:00|
|       14|        8157 W. Book|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|A1C658AE-C553-4A9...|2009-12-04 00:00:00|
|       15|      4912 La Vuelta|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|F397E64A-A9D8-4E5...|2013-11-18 00:00:00|
|       16|        40 Ellis St.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|0312B65F-CB60-439...|2012-11-09 00:00:00|
|       17|   6696 Anchor Drive|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|CE9B3B47-9267-472...|2013-11-08 00:00:00|
|       18|    1873 Lion Circle|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|963854F7-E3CB-46A...|2013-11-30 00:00:00|
|       19|    3148 Rose Street|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|6B7ACB0F-CDBF-44F...|2014-04-03 00:00:00|
|       20|  6872 Thornwood Dr.|        NULL|Bothell|             79|     98011|[E6 10 00 00 01 0...|4B1F1ED4-97A4-43F...|2009-02-05 00:00:00|
+---------+--------------------+------------+-------+---------------+----------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [6]:
df = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=AdventureWorksLT2022", "Person.Address" ,properties={"user": "sa", "password": "Andrade7839"})
df.show()

Py4JJavaError: An error occurred while calling o48.jdbc.
: com.microsoft.sqlserver.jdbc.SQLServerException: Cannot open database "AdventureWorksLT2022" requested by the login. The login failed. ClientConnectionId:b15cba23-6543-4b79-8ed3-29fca6b48634
	at com.microsoft.sqlserver.jdbc.SQLServerException.makeFromDatabaseError(SQLServerException.java:262)
	at com.microsoft.sqlserver.jdbc.TDSTokenHandler.onEOF(tdsparser.java:283)
	at com.microsoft.sqlserver.jdbc.TDSParser.parse(tdsparser.java:129)
	at com.microsoft.sqlserver.jdbc.TDSParser.parse(tdsparser.java:37)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.sendLogon(SQLServerConnection.java:5067)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.logon(SQLServerConnection.java:3731)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.access$000(SQLServerConnection.java:94)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection$LogonCommand.doExecute(SQLServerConnection.java:3675)
	at com.microsoft.sqlserver.jdbc.TDSCommand.execute(IOBuffer.java:7194)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.executeCommand(SQLServerConnection.java:2979)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectHelper(SQLServerConnection.java:2488)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.login(SQLServerConnection.java:2142)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectInternal(SQLServerConnection.java:1993)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connect(SQLServerConnection.java:1164)
	at com.microsoft.sqlserver.jdbc.SQLServerDriver.connect(SQLServerDriver.java:760)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:241)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:249)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1583)