### verifica se banco está ativo

In [ ]:
!pip3.12 install mysql-connector-python --upgrade

In [10]:
import mysql.connector
import pandas as pd

# server = 'localhost'
# database = 'DBDWP511'
# username = 'sa'
# password = 'Numsey@Password!'
# query = "create database school"
# cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()



mydb = mysql.connector.connect(user='root',password='mysql',host='0.0.0.0',database='mydesenv')
cur = mydb.cursor()

In [16]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM-CU14) (KB5007182) - 15.0.4188.2 (X64)
	Nov  3 2021 19:19:51
	Copyright (C) 2019 Microsoft Corporation
	Developer Edition (64-bit) on Linux (Ubuntu 20.04.3 LTS) <X64>

### ACESSO AO BANCO VIA DOCKER

In [94]:
class msqlserver:
    # variaveis de entrada
    def __init__(self,server, database, uid, pwd, query):
        self.__server = server
        self.__database = database
        self.__uid = uid
        self.__pwd = pwd
        self.__query = query
   

    # Função de connect 
    def create_server_connection(self):
        connection = None
        try:
            connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+self.__server+';DATABASE='+self.__database+';UID='+self.__uid+';PWD='+ self.__pwd,autocommit=True)
            print("Conectado no banco SQLSERVER")
        except Error as err:
            print(f"Error: '{err}'")

        return connection
    # create database
    def create_database(self,connection):
        cursor = connection.cursor()
        db = self.__query[16:]
        try:
            cursor.execute(f'''USE master;
                               DROP DATABASE {db};''')
            cursor.execute(self.__query)
            print("Database creatdo com sucesso")
        except Error as err:
            print(f"Error: '{err}'")

In [95]:

query = 'CREATE DATABASE DBPRODASH '
x = msqlserver('localhost','DBDWP511','sa','Numsey@Password!',query)
connection = x.create_server_connection()
x.create_database(connection)
print(query[16:])

NameError: name 'Error' is not defined

### ACESSANDO O BANCO MYSQL VIA DOCKER

In [54]:
db_name = "DBPRODASH"
def create_server_connection():
    connection = None
    try:
        connection = mysql.connector.connect(user='root',password='mysql',host='localhost',database='mydesenv')
        print("Conectado no banco MYSQL")
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")

    return connection
cnx = create_server_connection()
cursor = cnx.cursor()
print(cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(db_name)))

Conectado no banco MYSQL
None

In [96]:
import mysql.connector
from mysql.connector import errorcode

class mysqlserver:
    # variaveis de entrada
    def __init__(self,user, password, host, database,query):
        self.__user = user
        self.__password = password
        self.__host = host
        self.__database = database
        self.__query = query
   
    # Função de connect 
    def create_server_connection(self):
        connection = None
        try:
            connection = mysql.connector.connect(user=self.__user,password=self.__password,host=self.__host,database=self.__database)
            print("Conectado no banco MYSQL")
        except mysql.connector.Error as err:
            print(f"Error: '{err}'")

        return connection

    def create_database(self,connection):
        cursor = connection.cursor()
        db = self.__query
        try:
            cursor.execute(f"DROP DATABASE IF EXISTS {db};")
            cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(db))
            print("Database creatdo com sucesso")
        except mysql.connector.Error as err:
            print(f"Error: '{err}'")

In [97]:
query = "DBPRODASH"
x = mysqlserver('root','mysql','localhost','mydesenv', query)
connection = x.create_server_connection()
x.create_database(connection)
print(query[16:])

Conectado no banco MYSQL
Database creatdo com sucesso