### Analises das bases MSSQL

In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark=SparkSession.builder.master("local[1]")\
        .appName("movie")\
        .config("spark.driver.extraClassPath","/Users/eduardoalberto/opt/spark/jars/mssql-jdbc-7.4.1.jre8.jar" ) \
        .getOrCreate()
sc = spark.sparkContext
spark.sparkContext.setLogLevel("OFF")

22/12/28 21:46:23 WARN Utils: Your hostname, Eduardos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.3.5 instead (on interface en0)
22/12/28 21:46:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/12/28 21:46:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# tabelas do mssql
t1 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBPROD511", "Sales.Customer",properties={"user": "sa", "password": "Numsey@Password!"})
t2 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBPROD511", "Sales.Currency",properties={"user": "sa", "password": "Numsey@Password!"}) 
t3 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBPROD511", "Person.Address",properties={"user": "sa", "password": "Numsey@Password!"}) 
t4 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBPROD511", "Production.Product",properties={"user": "sa", "password": "Numsey@Password!"}) 
t5 = spark.read.jdbc("jdbc:sqlserver://localhost:1433;databaseName=DBPROD511", "Person.Person",properties={"user": "sa", "password": "Numsey@Password!"})

In [4]:
t1.createOrReplaceTempView("tb_customer")
t2.createOrReplaceTempView("tb_currency")
t3.createOrReplaceTempView("tb_address")
t4.createOrReplaceTempView("tb_product")
t5.createOrReplaceTempView("tb_person")

In [6]:
df = spark.table("tb_customer").cache()

In [8]:
df.crosstab("PersonID","ModifiedDate").show()

+---------------------+-----------------------+
|PersonID_ModifiedDate|2014-09-12 11:15:07.263|
+---------------------+-----------------------+
|                14221|                      1|
|                 8607|                      1|
|                13950|                      1|
|                16466|                      1|
|                19887|                      1|
|                18180|                      1|
|                16383|                      1|
|                10822|                      1|
|                16216|                      1|
|                15874|                      1|
|                 5385|                      1|
|                 5810|                      1|
|                 7375|                      1|
|                 5659|                      1|
|                19204|                      1|
|                20194|                      1|
|                14977|                      1|
|                 9929|                      1|
|                11866|                      1|
|                12928|                      1|
+---------------------+-----------------------+
only showing top 20 rows

In [7]:
df.toPandas()

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263