Analise de Filmes de arquivos .CSV

In [6]:
import pyodbc
import pandas as pd
import datetime as dt
import pickle
from pyspark.sql import SparkSession,Row
from pyspark.sql.functions import *
from pyspark.sql import functions as f
from pyspark.sql.types import *


import os 
import os.path as path
import datetime as dt
import sys
#criando um objeto sparksession object e um appName 
spark=SparkSession.builder.master("local[1]")\
        .appName("movie")\
        .config("spark.driver.extraClassPath","/Users/eduardoalberto/opt/spark/jars/mssql-jdbc-7.4.1.jre8.jar" ) \
        .getOrCreate()

sc = spark.sparkContext
server = 'localhost'
database = 'DBDWP511'
username = 'sa'
password = 'Numsey@Password!'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

22/10/20 21:37:57 WARN Utils: Your hostname, Eduardos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.3.5 instead (on interface en0)
22/10/20 21:37:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/20 21:37:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

OperationalError: ('HYT00', '[HYT00] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')

In [341]:
file = f"/Users/eduardoalberto/LoadFile/archive/credits.csv"
if path.exists(file):
# tratar do .csv
    arq = spark.read.option("delimiter", ",").option("header", True).option("inferSchema", True).option("escape",'"').csv(file)
# cast     
    arq.printSchema()
    schema = StructType([
            StructField("cast_id",      StringType(),True),
            StructField("character",    StringType(),True),
            StructField("credit_id",    StringType(),True),
            StructField("gender",       StringType(),True),
            StructField("id",           StringType(),True),
            StructField("name",         StringType(),True),
            StructField("order",        StringType(),True),
            StructField("profile_path", StringType(),True)
    ])
    df = arq.select(regexp_replace(regexp_replace(arq.cast,r"\[",""),r"\]","").alias("cast"))  
    df1 = df.withColumn("cast", from_json("cast", schema)).select(col('cast.*'))
    df1 = df1.withColumnRenamed("id", "id02")
# crew
    schema2 = StructType([
            StructField("credit_id",      StringType(),True),
            StructField("department",     StringType(),True),
            StructField("gender",         StringType(),True),
            StructField("id",             StringType(),True),
            StructField("job",            StringType(),True),
            StructField("name",           StringType(),True),
            StructField("profile_path",   StringType(),True)
    ])
    df2=  arq.select(regexp_replace(regexp_replace(arq.crew,r"\[",""),r"\]","").alias("crew"))
    df2 = df2.withColumn("crew", from_json("crew", schema2)).select(col("crew.*"))
    df2 = df2.withColumnRenamed("id", "id03")
# ID
    df3 = arq.select(arq.id)
    # junta tudo
    tbl_creditos = df1.join(df2, df1.id02 == df2.id03, "inner").join(df3, df3.id == df1.id02).select("*")

root
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- id: integer (nullable = true)

+-------+-----------+--------------------+------+-----+-------------+-----+--------------------+--------------------+----------+------+-----+------+-------------+--------------------+-----+
|cast_id|  character|           credit_id|gender| id02|         name|order|        profile_path|           credit_id|department|gender| id03|   job|         name|        profile_path|   id|
+-------+-----------+--------------------+------+-----+-------------+-----+--------------------+--------------------+----------+------+-----+------+-------------+--------------------+-----+
|      2|David Brent|5550bd80c3a36840a...|     2|17835|Ricky Gervais|    0|/1Mw3ZGmEh5URfjWn...|53351b4f925141444...|   Writing|     2|17835|Writer|Ricky Gervais|/1Mw3ZGmEh5URfjWn...|17835|
+-------+-----------+--------------------+------+-----+-------------+-----+--------------------+--------------------+----------+------+-----+------+-------------+--------------------+-----+
only showing top 1 row

In [342]:
file = f"/Users/eduardoalberto/LoadFile/archive/keywords.csv"
if path.exists(file):
    arq = spark.read.option("delimiter", ",").option("header", True).option("inferSchema", True).option("escape",'"').csv(file)
    df = spark.createDataFrame(arq.rdd)
    sch = StructType([
             StructField("id",       IntegerType(),True),
             StructField("name",     StringType(),True)])
    df = df.select(df.id,regexp_replace(regexp_replace(df.keywords,r"\[",""),r"\]","").alias("keywords"))
    tbl_keyworkds = df.withColumn("keywords", from_json("keywords", sch)).select(df.id.alias("id_key"),col("keywords.*"))

+------+-----+--------------------+
|id_key|   id|                name|
+------+-----+--------------------+
|   862|  931|            jealousy|
|  8844|10090|          board game|
| 15602| 1495|             fishing|
| 31357|  818|      based on novel|
| 11862| 1009|                baby|
|   949|  642|             robbery|
| 11860|   90|               paris|
| 45325| null|                null|
|  9091|  949|           terrorist|
|   710|  701|                cuba|
|  9087|  833|         white house|
| 12110| 3633|             dracula|
| 21032| 1994|                wolf|
| 10858|  840|       usa president|
|  1408|  911|       exotic island|
|   524|  383|               poker|
|  4584|  420|             bowling|
|     5|  612|               hotel|
|  9273|  409|              africa|
| 11517|  380|brother brother r...|
+------+-----+--------------------+
only showing top 20 rows

In [343]:
file = f"/Users/eduardoalberto/LoadFile/archive/links_small.csv"
if path.exists(file):
    arq = spark.read.option("delimiter", ",").option("header", True).option("inferSchema", True).option("escape",'"').csv(file)
    tbl_links_small = arq

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

In [345]:
file = f"/Users/eduardoalberto/LoadFile/archive/links.csv"
if path.exists(file):
    arq = spark.read.option("delimiter", ",").option("header", True).option("inferSchema", True).option("escape",'"').csv(file)
    tbl_links = arq

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

In [94]:
from email import header
from operator import mod
from os import sep


file = f"/Users/eduardoalberto/LoadFile/archive/movies_metadata.csv"
parquet = "/Users/eduardoalberto/LoadFile/archive/parquet"
if path.exists(file):
    arq = spark.read.option("delimiter", ",").option("header", True).option("inferSchema", True).option("escape",'"').csv(file)
    # arq.printSchema()
    movie = arq.where(arq.adult == "False").select("*")
    movieAdult = arq.where(arq.adult == "True").select("*")
    
    sch01 = StructType([
            StructField("id",               IntegerType(),True),
            StructField("name",             StringType(),True),
            StructField("poster_path",      StringType(),True),
            StructField("backdrop_path",    StringType(),True)])

    movie_01 = movie.withColumn("belongs_to_collection", from_json("belongs_to_collection",sch01)). \
          select(arq.id.alias("id01"),
                 col("belongs_to_collection.*"),
                 arq.budget,
                 arq.imdb_id,
                 arq.original_language,
                 arq.original_title,
                 arq.overview,
                 arq.popularity,
                 arq.poster_path.alias("path_poster"),
                 arq.release_date.cast("date").alias("dt_release"),
                 arq.revenue,
                 arq.runtime,
                 arq.status,
                 arq.tagline,
                 arq.title,
                 arq.video,
                 arq.vote_average.cast("int").alias("vote_average"),
                 arq.vote_count.cast("int").alias("vote_count")
                 ) 
 
    sch02 = StructType([
            StructField("id",               IntegerType(),True),
            StructField("name",             StringType(),True)])
    
  # movie.select("genres").show(10, False)
    mv = movie.select(regexp_replace(regexp_replace(movie.genres,r"\[",""),r"\]","").alias("genres"))
    mv = mv.withColumn("genres", from_json("genres",sch02)).select(f.col("genres.*"))
    mv = mv.withColumnRenamed("id", "id02")
    mv = mv.withColumnRenamed("name", "name_geners")
    df_full = movie_01.join(mv, movie_01.id01 == mv.id02, "inner")

    df_full.write.parquet(path=parquet, mode="overwrite")

   #usando coalesce pra gerar arquivo unico
    df_full.coalesce(1).write.csv(path=parquet, mode="overwrite",sep=";",header=True)

    

    spark.stop

In [8]:
porcent = lambda nulos, massa: (nulos / massa)*100
print((porcent(182562,1000000)))

data = [
    ('GISELLE PAULA GUIMARAES CASTRO', 15),
    ('ELAINE GARCIA DE OLIVEIRA', 22),
    ('JOAO CARLOS ABNER DE LOURDES', 43),
    ('MARTA ZELI FERREIRA', 24),
    ('LAUDENETE WIGGERS ROEDER', 51)
]
colNames = ['nome', 'idade']
df = spark.createDataFrame(data, colNames)
df.show(truncate=False)

df \
    .select(
        f.concat_ws(
            ', ', 
            f.substring_index('nome', ' ', 1), 
            f.substring_index('nome', ' ', -1)
        ).alias('ident'), 
        'idade') \
    .show(truncate=False)

18.2562
+------------------------------+-----+
|nome                          |idade|
+------------------------------+-----+
|GISELLE PAULA GUIMARAES CASTRO|15   |
|ELAINE GARCIA DE OLIVEIRA     |22   |
|JOAO CARLOS ABNER DE LOURDES  |43   |
|MARTA ZELI FERREIRA           |24   |
|LAUDENETE WIGGERS ROEDER      |51   |
+------------------------------+-----+

+-----------------+-----+
|ident            |idade|
+-----------------+-----+
|GISELLE, CASTRO  |15   |
|ELAINE, OLIVEIRA |22   |
|JOAO, LOURDES    |43   |
|MARTA, FERREIRA  |24   |
|LAUDENETE, ROEDER|51   |
+-----------------+-----+