In [1]:
from pyspark.sql import SparkSession,Row,DataFrame
from delta import configure_spark_with_delta_pip
from delta.tables import DeltaTable
import pyspark.sql.functions as F
import traceback

builder = SparkSession \
    .builder \
    .appName("Data with Nikk the Greek Spark Session") \
    .master("local[4]") \
    .config("spark.jars.packages", "uk.co.gresearch.spark:spark-extension_2.12:2.11.0-3.5") \
    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.5.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.warehouse.dir", "/Users/eduardoalberto/LoadFile/repository/deltaTable/") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \

spark = configure_spark_with_delta_pip(builder).getOrCreate()

sc = spark.sparkContext
spark.sparkContext.setLogLevel("OFF") 
print('PySpark Version :'+spark.version)
print('PySpark Version :'+spark.sparkContext.version)

spark

25/03/22 12:49:55 WARN Utils: Your hostname, MacBook-Pro-de-Eduardo.local resolves to a loopback address: 127.0.0.1; using 192.168.15.179 instead (on interface en0)
25/03/22 12:49:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/Users/eduardoalberto/opt/spark-3.5.4/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/eduardoalberto/.ivy2/cache
The jars for the packages stored in: /Users/eduardoalberto/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-96fd1774-4af6-44ac-9c37-db56948a9b93;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.1.0 in central
	found io.delta#delta-storage;3.1.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 247ms :: artifacts dl 13ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.1.0 from central in [default]
	io.delta#delta-storage;3.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-96fd1774-4af6-44ac-9c37-db56948a9b93
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/12ms)
25/03/22 12:49:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/22 12:49:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

PySpark Version :3.5.4
PySpark Version :3.5.4

In [4]:
path_delta = "/Users/eduardoalberto/LoadFile/dataDelta/movie"
df = spark.read.parquet("/Users/eduardoalberto/LoadFile/parquet/movie")
df.write.format("delta").mode("overwrite").save(path_delta)

### Dataframe

In [5]:
spark.read.format("delta").load(path_delta).show(truncate=False)

+----------+-----------+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------+-----------------+--------------+----------------+--------------------+
|nconst    |primaryName|birthYear                                                                    |deathYear                                                                    |primaryProfession|knownForTitles|profession_array|knownForTitles_array|
+----------+-----------+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------+-----------------+--------------+----------------+--------------------+
|tt14495706|short      |La Rosace Magique                                                            |La Rosace Magique                                                            |0                |1877          |0               |1877                |
|tt12592084|short      |Le singe musicien                                                            |Le singe musicien                                                            |0                |1878          |0               |1878                |
|tt15245006|short      |The 1882 Transit of Venus                                                    |The 1882 Transit of Venus                                                    |0                |1882          |0               |1882                |
|tt5459794 |short      |Buffalo Running                                                              |Buffalo Running                                                              |0                |1883          |0               |1883                |
|tt8588366 |short      |L'homme machine                                                              |L'homme machine                                                              |0                |1885          |0               |1885                |
|tt2075247 |short      |Man Walking Around the Corner                                                |Man Walking Around the Corner                                                |0                |1887          |0               |1887                |
|tt0343112 |short      |Traffic Crossing Leeds Bridge                                                |Traffic Crossing Leeds Bridge                                                |0                |1888          |0               |1888                |
|tt0466876 |short      |Leisurely Pedestrians, Open Topped Buses and Hansom Cabs with Trotting Horses|Leisurely Pedestrians, Open Topped Buses and Hansom Cabs with Trotting Horses|0                |1889          |0               |1889                |
|tt0361921 |short      |Monkeyshines, No. 1                                                          |Monkeyshines, No. 1                                                          |0                |1890          |0               |1890                |
|tt0241373 |short      |Dickson Greeting                                                             |Dickson Greeting                                                             |0                |1891          |0               |1891                |
|tt0000005 |short      |Blacksmith Scene                                                             |Blacksmith Scene                                                             |0                |1893          |0               |1893                |
|tt0000001 |short      |Carmencita                                                                   |Carmencita                                                                   |0                |1894          |0               |1894                |
|tt0000012 |short      |The Arrival of a Train                                                       |L'arrivée d'un train à La Ciotat                                             |0                |1896          |0               |1896                |
|tt0000041 |short      |Bataille de neige                                                            |Bataille de neige                                                            |0                |1897          |0               |1897                |
|tt0000019 |short      |The Clown Barber                                                             |The Clown Barber                                                             |0                |1898          |0               |1898                |
|tt0000184 |short      |Cripple Creek Bar-Room Scene                                                 |Cripple Creek Bar-Room Scene                                                 |0                |1899          |0               |1899                |
|tt0000160 |short      |The Last Days of Pompeii                                                     |The Last Days of Pompeii                                                     |0                |1900          |0               |1900                |
|tt0000220 |short      |The Artist and the Flower Girl                                               |The Artist and the Flower Girl                                               |0                |1901          |0               |1901                |
|tt0000476 |short      |Après la fête                                                                |Après la fête                                                                |0                |1904          |0               |1904                |
|tt0000473 |short      |La valise enchantée                                                          |La valise enchantée                                                          |0                |1905          |0               |1905                |
+----------+-----------+-----------------------------------------------------------------------------+-----------------------------------------------------------------------------+-----------------+--------------+----------------+--------------------+
only showing top 20 rows

In [5]:
dfs = spark.read.option("delimiter",';')\
                .option("header", "True")\
                .option("inferSchema", "True")\
                .csv("/Users/eduardoalberto/LoadFile/part-00000-055103f0-b275-4e27-b667-0c2c25d0636a-c000.csv")
# dfs.printSchema()
# dfs.toPandas()

In [6]:
df01 = dfs.groupBy("name","imdb_id","overview","revenue","runtime","status","title","vote_average","vote_count","popularity","name_geners")\
          .agg(F.count("title").alias("total"))\
          .withColumn("dt_ref_carga", F.current_date())

df02 = dfs.groupBy("name","imdb_id","overview","revenue","runtime","status","title","vote_average","vote_count","popularity","name_geners")\
          .agg(F.count("title").alias("total"))\
          .withColumn("dt_ref_carga", F.current_date()+2)

df02.toPandas()

,name,imdb_id,overview,revenue,runtime,status,title,vote_average,vote_count,popularity,name_geners,total,dt_ref_carga
0,None,tt0119116,"In 2257, a taxi driver is unintentionally give...",263920180,126.0,Released,The Fifth Element,7,3962,24.305260,Drama,11966,2025-03-15
1,None,tt0078788,"At the height of the Vietnam war, Captain Benj...",89460381,153.0,Released,Apocalypse Now,8,2112,13.596300,Action,4489,2025-03-15
2,Before... Collection,tt0381681,Nine years ago two strangers met by chance and...,15992615,80.0,Released,Before Sunset,7,734,7.048957,Crime,1682,2025-03-15
3,Heart of Gold Collection,tt0168629,"Selma, a Czech immigrant on the verge of blind...",40031879,140.0,Released,Dancer in the Dark,7,392,10.684806,Animation,1124,2025-03-15
4,Deuce Bigalow Collection,tt0205000,"Deuce Bigalow is a less than attractive, down ...",65535067,88.0,Released,Deuce Bigalow: Male Gigolo,5,314,6.567794,Music,487,2025-03-15
5,None,tt0185125,A single mother in Madrid sees her only son di...,67872296,101.0,Released,All About My Mother,7,337,10.000915,Documentary,3415,2025-03-15
6,None,tt0169547,"Lester Burnham, a depressed suburban father in...",356296601,122.0,Released,American Beauty,7,3438,20.726578,Fantasy,704,2025-03-15
7,Finding Nemo Collection,tt0266543,"Nemo, an adventurous young clownfish, is unexp...",940335536,100.0,Released,Finding Nemo,7,6292,25.497794,Adventure,1514,2025-03-15
8,In China They Eat Dogs Collection,tt0246692,"The last wish of the dying ""Monk"" is for his f...",0,95.0,Released,Old Men in New Cars: In China They Eat Dogs II,6,37,4.003761,Family,524,2025-03-15
9,None,tt0268437,A lawyer becomes a fisherman from frustration....,0,97.0,Released,The Man Who Sued God,6,23,1.741405,Mystery,554,2025-03-15
10,None,tt0411705,"Matt, a young glaciologist, soars across the v...",1574623,66.0,Released,9 Songs,5,103,18.847707,Horror,2618,2025-03-15
11,The Sheriff and the Satellite Kid Collection,tt0079859,A young humanoid alien who gets stranded on ea...,0,88.0,Released,The Sheriff and the Satellite Kid,5,69,3.812074,TV Movie,390,2025-03-15
12,None,tt0462538,After Homer accidentally pollutes the town's w...,527068851,87.0,Released,The Simpsons Movie,6,2335,14.302911,Comedy,8817,2025-03-15
13,None,tt0036818,Die Feuerzangenbowle from Director Helmut Weis...,0,97.0,Released,The Punch Bowl,6,41,2.098595,Science Fiction,646,2025-03-15
14,None,tt0329632,The film starts in the early evening of a norm...,0,107.0,Released,Sophiiiie!,6,1,0.216899,Romance,1191,2025-03-15

In [ ]:
arqDelta = "/Users/eduardoalberto/LoadFile/dataDelta/ratingMovie"
# df = spark.read.parquet("/Users/eduardoalberto/LoadFile/parquet/movie")
df01.write.format("delta").mode("overwrite").partitionBy("dt_ref_carga").option("overwriteSchema", "true").saveAsTable("tb_ratingMovie")
df02.write.format("delta").mode("overwrite").partitionBy("dt_ref_carga").option("overwriteSchema", "true").saveAsTable("st_ratingMovie")

In [3]:
spark.sql("desc history tb_ratingMovie").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `tb_ratingMovie` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 0;
'DescribeDeltaHistory [version#15L, timestamp#16, userId#17, userName#18, operation#19, operationParameters#20, job#21, notebook#22, clusterId#23, readVersion#24L, isolationLevel#25, isBlindAppend#26, operationMetrics#27, userMetadata#28, engineInfo#29]
+- 'UnresolvedTable [tb_ratingMovie], DESCRIBE HISTORY

In [8]:
spark.table("st_ratingMovie").filter("imdb_id = 'tt0036818'").toPandas()

spark.table("tb_ratingmovie").toPandas()

# spark.read.format("delta").load(arqDelta).toPandas()

,name,imdb_id,overview,revenue,runtime,status,title,vote_average,vote_count,popularity,name_geners,total,dt_ref_carga
0,None,tt0119116,"In 2257, a taxi driver is unintentionally give...",263920180,126.0,Released,The Fifth Element,7,3962,24.305260,Drama,11966,2025-03-13
1,None,tt0078788,"At the height of the Vietnam war, Captain Benj...",89460381,153.0,Released,Apocalypse Now,8,2112,13.596300,Action,4489,2025-03-13
2,Before... Collection,tt0381681,Nine years ago two strangers met by chance and...,15992615,80.0,Released,Before Sunset,7,734,7.048957,Crime,1682,2025-03-13
3,Heart of Gold Collection,tt0168629,"Selma, a Czech immigrant on the verge of blind...",40031879,140.0,Released,Dancer in the Dark,7,392,10.684806,Animation,1124,2025-03-13
4,Deuce Bigalow Collection,tt0205000,"Deuce Bigalow is a less than attractive, down ...",65535067,88.0,Released,Deuce Bigalow: Male Gigolo,5,314,6.567794,Music,487,2025-03-13
5,None,tt0185125,A single mother in Madrid sees her only son di...,67872296,101.0,Released,All About My Mother,7,337,10.000915,Documentary,3415,2025-03-13
6,None,tt0169547,"Lester Burnham, a depressed suburban father in...",356296601,122.0,Released,American Beauty,7,3438,20.726578,Fantasy,704,2025-03-13
7,Finding Nemo Collection,tt0266543,"Nemo, an adventurous young clownfish, is unexp...",940335536,100.0,Released,Finding Nemo,7,6292,25.497794,Adventure,1514,2025-03-13
8,In China They Eat Dogs Collection,tt0246692,"The last wish of the dying ""Monk"" is for his f...",0,95.0,Released,Old Men in New Cars: In China They Eat Dogs II,6,37,4.003761,Family,524,2025-03-13
9,None,tt0268437,A lawyer becomes a fisherman from frustration....,0,97.0,Released,The Man Who Sued God,6,23,1.741405,Mystery,554,2025-03-13
10,None,tt0411705,"Matt, a young glaciologist, soars across the v...",1574623,66.0,Released,9 Songs,5,103,18.847707,Horror,2618,2025-03-13
11,The Sheriff and the Satellite Kid Collection,tt0079859,A young humanoid alien who gets stranded on ea...,0,88.0,Released,The Sheriff and the Satellite Kid,5,69,3.812074,TV Movie,390,2025-03-13
12,None,tt0462538,After Homer accidentally pollutes the town's w...,527068851,87.0,Released,The Simpsons Movie,6,2335,14.302911,Comedy,8817,2025-03-13
13,None,tt0036818,Die Feuerzangenbowle from Director Helmut Weis...,0,97.0,Released,The Punch Bowl,6,41,2.098595,Science Fiction,646,2025-03-13
14,None,tt0329632,The film starts in the early evening of a norm...,0,107.0,Released,Sophiiiie!,6,1,0.216899,Romance,1191,2025-03-13

In [9]:
spark.sql(""" update st_ratingMovie
              set imdb_id = "tt0036818",
                  revenue = 1,
                  vote_average = 7,
                  vote_count = 42,
                  dt_ref_carga = current_date()+1
               where imdb_id = 'tt0036818'    
""")

spark.table("st_ratingMovie").filter("imdb_id = 'tt0036818' ").toPandas()

,name,imdb_id,overview,revenue,runtime,status,title,vote_average,vote_count,popularity,name_geners,total,dt_ref_carga
0,None,tt0036818,Die Feuerzangenbowle from Director Helmut Weis...,1,97.0,Released,The Punch Bowl,7,42,2.098595,Science Fiction,646,2025-03-14

### MERGE UPDATE SPARK SQL

In [10]:
spark.sql("""merge into tb_ratingMovie T1
             using st_ratingMovie T2
             on T1.imdb_id = T2.imdb_id
             when matched then update set *
             when not matched by target then insert *
""")

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

In [11]:
# spark.table("tb_ratingMovie").select("dt_ref_carga").show()

spark.table("tb_ratingMovie").filter("imdb_id = 'tt0036818' ").toPandas()

,name,imdb_id,overview,revenue,runtime,status,title,vote_average,vote_count,popularity,name_geners,total,dt_ref_carga
0,None,tt0036818,Die Feuerzangenbowle from Director Helmut Weis...,1,97.0,Released,The Punch Bowl,7,42,2.098595,Science Fiction,646,2025-03-14

### MERGE UPDATE PYSPARK

In [12]:
dftg = DeltaTable.forPath(spark, "/Users/eduardoalberto/LoadFile/repository/deltaTable/tb_ratingmovie")
dfsr = spark.read.format("delta").load("/Users/eduardoalberto/LoadFile/repository/deltaTable/st_ratingmovie")


(dftg.alias("dftg")
     .merge(dfsr.alias("dfsr"),"dftg.imdb_id = dfsr.imdb_id")
     .whenMatchedUpdateAll()
     .whenNotMatchedInsertAll()
     .whenNotMatchedBySourceDelete()
     .execute()
 )

In [13]:
spark.table("tb_ratingmovie").filter("imdb_id = 'tt0036818'").toPandas()

,name,imdb_id,overview,revenue,runtime,status,title,vote_average,vote_count,popularity,name_geners,total,dt_ref_carga
0,None,tt0036818,Die Feuerzangenbowle from Director Helmut Weis...,1,97.0,Released,The Punch Bowl,7,42,2.098595,Science Fiction,646,2025-03-14

In [14]:



import os.path as path


def LaodDelta (dir):

    try:
        path.exists(dir)
        df = spark.read.option("delimiter",';').option("header", "True").option("inferSchema", "True").csv(dir)
        df01 = df.groupBy("name","imdb_id","overview","revenue","runtime","status","title","vote_average","vote_count","popularity","name_geners")\
                 .agg(F.count("title").alias("total"))\
                 .withColumn("dt_ref_carga", F.current_date())

        df02 = df.groupBy("name","imdb_id","overview","revenue","runtime","status","title","vote_average","vote_count","popularity","name_geners")\
                 .agg(F.count("title").alias("total"))\
                 .withColumn("dt_ref_carga", F.current_date()+2)
    
        df01.write.format("delta").mode("overwrite").partitionBy("dt_ref_carga").option("overwriteSchema", "true").saveAsTable("tb_ratingMovie")
        df02.write.format("delta").mode("overwrite").partitionBy("dt_ref_carga").option("overwriteSchema", "true").saveAsTable("st_ratingMovie")
 
    except Exception as e:
        print(f"Ocorreu o seguinte erro: {e}")
        traceback.print_exc()
    return None

def MergeDelta(dftg,dfsr):
    try:
        dftg.alias("dftg")\
            .merge(dfsr.alias("dfsr"),"dftg.imdb_id = dfsr.imdb_id")\
            .whenMatchedUpdateAll()\
            .whenNotMatchedInsertAll()\
            .whenNotMatchedBySourceDelete()\
            .execute()
        
    except Exception as e:
        print(f"Ocorreu o seguinte erro: {e}")
        traceback.print_exc()
    return None
    


#################################################################################################################################################################

dftg = DeltaTable.forPath(spark, "/Users/eduardoalberto/LoadFile/repository/deltaTable/tb_ratingmovie")
dfsr = spark.read.format("delta").load("/Users/eduardoalberto/LoadFile/repository/deltaTable/st_ratingmovie")


dir = "/Users/eduardoalberto/LoadFile/part-00000-055103f0-b275-4e27-b667-0c2c25d0636a-c000.csv"

LaodDelta(dir)
MergeDelta(dftg,dfsr)